[submodule "gcmh"]
	path = gcmh
	url = https://gitlab.com/koral/gcmh
[submodule "modus-themes"]
	path = modus-themes
	url = https://github.com/protesilaos/modus-themes
[submodule "use-package"]
	path = use-package
	url = https://github.com/jwiegley/use-package.git
