[submodule "vendor/use-package"]
	path = vendor/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = https://github.com/magit/magit.git
[submodule "vendor/badger-theme"]
	path = vendor/badger-theme
	url = https://github.com/ccann/badger-theme.git
[submodule "vendor/color-theme-sanityinc-tomorrow"]
	path = vendor/color-theme-sanityinc-tomorrow
	url = https://github.com/purcell/color-theme-sanityinc-tomorrow.git
